@import url('https://fonts.googleapis.com/css?family=Work+Sans:regular,italic');

html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Work Sans;
	font-size: 16px;
	line-height: 1.5;

	background-color: rgb(255, 255, 255);
	color: #020202;
}
canvas {
  display: block;
}

body{
  background: white;
}

main{
  width: 100%;
  height: 100%;
}

nav {
  position: absolute;
  top: 2%;
  left: 2%;
}

a {
	color: #0022ff;
	text-decoration: none;
}

a:hover {
  background-color: #ffffff;
transition: 0.5s;
color: rgb(255, 200, 0);
}


#sketch-container{
  width: 100%;
  height: 100%;
}

#gui-container{
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 10%;
}


/* Button Style based on the class example */

.button{
  background-color: #371bd3;
  border: solid 1px #371bd3;
  border-radius: 10px;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  /* display: block; */
  margin:0 auto;
  font-size: 16px;
  min-width: 200px;
  cursor: pointer;
}

.button:hover{
  background-color:white;
  color: #371bd3;
}


/*add inactive state styling*/

.button.inactive{
  cursor:default;
  background-color: lightgray;
  border-color: lightgray;
  color: white;
}



/* Media Queries */

@media (max-width: 940px) {
}

@media (max-width: 680px) {
	body {
		padding: 20px;
	}

}

@media (max-width: 450px) {
	body {
		padding: 10px;
	}
	}
